@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black-100: rgba(230, 230, 230, 1);
  --black-300: rgba(179, 179, 179, 1);
  --black-400: rgba(153, 153, 153, 1);
  --black-50: rgba(242, 242, 242, 1);
  --black-600: rgba(102, 102, 102, 1);
  --black-700: rgba(77, 77, 77, 1);
  --blackmain-text-color: rgba(13, 13, 13, 1);
  --body-2xl-font-family: "Montserrat", Helvetica;
  --body-2xl-font-size: 24px;
  --body-2xl-font-style: normal;
  --body-2xl-font-weight: 500;
  --body-2xl-letter-spacing: 0px;
  --body-2xl-line-height: 150%;
  --body-base-font-family: "Montserrat", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 500;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 150%;
  --body-lg-font-family: "Montserrat", Helvetica;
  --body-lg-font-size: 18px;
  --body-lg-font-style: normal;
  --body-lg-font-weight: 500;
  --body-lg-letter-spacing: 0px;
  --body-lg-line-height: 150%;
  --body-medium-500-font-family: "Inter", Helvetica;
  --body-medium-500-font-size: 14px;
  --body-medium-500-font-style: normal;
  --body-medium-500-font-weight: 500;
  --body-medium-500-letter-spacing: -0.14000000000000004px;
  --body-medium-500-line-height: 20px;
  --body-medium-600-font-family: "Inter", Helvetica;
  --body-medium-600-font-size: 14px;
  --body-medium-600-font-style: normal;
  --body-medium-600-font-weight: 400;
  --body-medium-600-letter-spacing: -0.14000000000000004px;
  --body-medium-600-line-height: 20px;
  --body-sm-font-family: "Montserrat", Helvetica;
  --body-sm-font-size: 14px;
  --body-sm-font-style: normal;
  --body-sm-font-weight: 500;
  --body-sm-letter-spacing: 0px;
  --body-sm-line-height: 125%;
  --graywhite: rgba(255, 255, 255, 1);
  --heading-bold-4xl-font-family: "Montserrat", Helvetica;
  --heading-bold-4xl-font-size: 32px;
  --heading-bold-4xl-font-style: normal;
  --heading-bold-4xl-font-weight: 700;
  --heading-bold-4xl-letter-spacing: 0px;
  --heading-bold-4xl-line-height: 125%;
  --heading-h3-nomal-bold-font-family: "Inter", Helvetica;
  --heading-h3-nomal-bold-font-size: 24px;
  --heading-h3-nomal-bold-font-style: normal;
  --heading-h3-nomal-bold-font-weight: 700;
  --heading-h3-nomal-bold-letter-spacing: 0px;
  --heading-h3-nomal-bold-line-height: normal;
  --neutralblackb-900: rgba(14, 20, 34, 1);
  --pharaghraph-base-font-family: "Montserrat", Helvetica;
  --pharaghraph-base-font-size: 16px;
  --pharaghraph-base-font-style: normal;
  --pharaghraph-base-font-weight: 400;
  --pharaghraph-base-letter-spacing: 0px;
  --pharaghraph-base-line-height: 140%;
  --pharaghraph-sm-font-family: "Montserrat", Helvetica;
  --pharaghraph-sm-font-size: 14px;
  --pharaghraph-sm-font-style: normal;
  --pharaghraph-sm-font-weight: 400;
  --pharaghraph-sm-letter-spacing: -0.2800000000000001px;
  --pharaghraph-sm-line-height: 125%;
  --primary-color400: rgba(255, 136, 51, 1);
  --primary-colorprimary: rgba(255, 127, 36, 1);
  --secondary-50: rgba(229, 235, 255, 1);
  --secondarysecondary: rgba(0, 39, 178, 1);
  --semibold-base-font-family: "Montserrat", Helvetica;
  --semibold-base-font-size: 16px;
  --semibold-base-font-style: normal;
  --semibold-base-font-weight: 600;
  --semibold-base-letter-spacing: 0px;
  --semibold-base-line-height: 150%;
  --semibold-lg-font-family: "Montserrat", Helvetica;
  --semibold-lg-font-size: 18px;
  --semibold-lg-font-style: normal;
  --semibold-lg-font-weight: 600;
  --semibold-lg-letter-spacing: 0px;
  --semibold-lg-line-height: 150%;
  --semibold-sm-font-family: "Montserrat", Helvetica;
  --semibold-sm-font-size: 14px;
  --semibold-sm-font-style: normal;
  --semibold-sm-font-weight: 600;
  --semibold-sm-letter-spacing: 0px;
  --semibold-sm-line-height: 125%;
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}